---
import Scene from '../components/Scene.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Daylight Transition Demo</title>
  </head>
  <body style="margin:0;">
    <Scene />
  </body>
</html>