---
import '../styles/main.scss';
import Scene from '../components/Scene.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Daylight Transition Demo</title>
  </head>
  <body style="margin:0;">
    <Scene />
  </body>
</html>