---

---

<div class="scene-container"></div>

<div class="text-container">
  <div class="container">
    <h2 class="headline">Name of the Company</h2>
    <div class="body-text"><h3>This is more about what the company does.</h3><h3>And contact info</h3></div>
  </div>
</div>

<script src="../scripts/scene.js"></script>